{% extends 'commonbase.html' %}
{% block content %}
<style>
th,td{
    padding: 10px;
}
</style>
<center>
<div style="margin: 50px;">
    <h3>Login</h3>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            <tr>
                <td>Username</td>
                <td><input type="text" class="form-control" name="txtEmail" required></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" class="form-control" name="txtPassword" required></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" class="btn btn-dark" value="Login"></td>
            </tr>
        </table>
    </form>
</div>
</center>
<script>
    var msg="{{msg}}";
    if(msg!="")
        alert(msg);
</script>
{% endblock %}