{% extends 'customerbase.html' %}
{% block content %}
<style>
th,td{
    padding: 10px;
}
</style>
<center>
<div style="margin: 50px;">
    <h3>Insurance</h3>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {% for d in data %}
            <tr>
                <td>Vehicle number</td>
                <td><input type="text" pattern="[K][L][-][0-9]{2}[-][A-Z]{1}[-][0-9]{1,4}" class="form-control" name="txtNumber" value="{{d.2}}" readonly></td>
            </tr>
            <tr>
                <td>Insurance company</td>
                <td><input type="text" class="form-control" name="txtIns" value="{{d.12}}" readonly></td>
            </tr>
            <tr>
                <td>Insurance upto</td>
                <td><input type="text" class="form-control" name="txtInsDate" value="{{d.8}}"  readonly>
                {% if diff > 0 %}
                <p>Insurance expired. Please contact your insurance company directly for renewal.</p>
                {% endif %}
                </td>
            </tr>
            {% if diff < 0 and diff > -7 %}
            <tr>
                <td></td>
                <td><input type="submit" class="btn btn-dark" name="btnSubmit" value="Renew Insurance"  ></td>
            </tr>
            {% endif %}
           {% endfor %}
        </table>
    </form>
</div>
</center>
<script>
    var msg="{{msg}}";
    if(msg!="")
        alert(msg);
</script>
{% endblock %}