{% extends 'rtobase.html' %}
{% block content %}
<style>
th,td{
    padding: 10px;
}
</style>
<center>
<div style="margin: 50px;">
    <h3>Vehicle Registration</h3>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            <tr>
                <td>Vehicle number</td>
                <td><input type="text" pattern="[K][L][-][0-9]{2}[-][A-Z]{1-2}[-][0-9]{1,4}" class="form-control" name="txtNumber"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" class="btn btn-dark" value="Search"></td>
            </tr>
        </table>
    </form>
    
    <table border="1" style="margin-top: 50px;">
        <tr>
            <th>RTO</th>
            <th>NUMBER</th>
            <th>CHASIS</th>
            <th>MANUFACTuRER</th>
            <th>RC OWNER</th>
            <th>ADDRESS</th>
            <th>CONTACT</th>
            <th>INSURANCE UPTO</th>
            <th>POLLUTION UPTO</th>
        </tr>
        {% for d in data %}
        <tr>
            <td>{{d.11}}</td>          
            <td>{{d.2}}</td>
            <td>{{d.3}}</td>
            <td>{{d.4}}</td>
            <td>{{d.5}}</td>          
            <td>{{d.6}}</td>    
            <td>{{d.7}}</td>                
            <td>{{d.8}}</td>          
            <td>{{d.9}}</td>          
        </tr>
        {% endfor %}
        </table>
  
</div>
</center>
<script>
    var msg="{{msg}}";
    if(msg!="")
        alert(msg);
</script>
{% endblock %}